/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class$="og"] {
    color: var(--magenta);
}

li[id$="t"] {
    color: var(--teal);
}

li[class^="p"] {
    color: #008000;
}

li[class^="donkey"], li[class^="cat "] {
    color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

ol li {
    color: green;
}

/* all general siblings of first selector */
.first ~ li {
    color: var(--darkmagenta);
}

/* targets first element after the first selector */
.second + li {
    color: var(--royalblue);
}

/* .second+li+li {
    color: var(--darkmagenta);
} */



